.PopularMovies{
    box-sizing: border-box;
    width: 100%;

    padding: 100px 0 40px 0;
}

.PopularMovies_inner{
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto auto;
    justify-content: flex-start;
    gap: 20px 30px;
}